groq
aiohttp
fastapi
uvicorn
pydantic
pyyaml
pydantic-settings
python-multipart
trafilatura
sec-api
tiktoken
hdbscan
yfinance
ipykernel
python-dotenv
instructor[groq]
sentence-transformers
qdrant-client[fastembed]
